<%= link_to t(".english"), locale: "en" %>
<%= link_to t(".vietnam"), locale: "vi" %>
<% provide :title, t(".about") %>
<h1> <%= t ".titles" %> </h1>
<p>
  <%= t ".the" %> <%= link_to t(".ruby"), Settings.static_pages.about.link2 %> <%= t ".is" %>
  <%= link_to t(".book"), Settings.static_pages.about.link3 %> <%=t ".and" %>
  <%= link_to t(".screen"), Settings.static_pages.about.link4 %> <%= t ".to" %>
  <%= link_to t(".ruby1"), Settings.static_pages.about.link5 %> <%= t ".this" %>
</p>
