<%= link_to t(".english"), locale: "en" %>
<%= link_to t(".vietnam"), locale: "vi" %>
<% provide :title, t(".title3") %>
<h1> <%= t ".title3" %> </h1>
<p>
  <%= t ".get" %>
  <%= link_to t(".rails"), Settings.static_pages.help.link6 %> <%= t ".sample" %>
  <%= link_to t(".ruby"), Settings.static_pages.help.link7 %> <%= t ".book" %>
</p>
