<%= link_to t(".english"), locale: "en" %>
<%= link_to t(".vietnam"), locale: "vi" %>
<% provide :title, t(".title1") %>
<h1> <%= t ".app" %></h1>
<p>
  <%= t ".first" %>
  <%= link_to t(".link"), Settings.static_pages.home.link8 %>
  <%= t ".last" %>
</p>
