<%= link_to t(".english"), locale: "en" %>
<%= link_to t(".vietnam"), locale: "vi" %>
<% provide :title, t(".tit") %>
<h1> <%= t ".update" %> </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :email, t(".email") %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password, t(".pass") %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, t(".password_confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= f.submit t(".save"), class: "btn btn-primary" %>
    <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <%= link_to t(".change"), Settings.users.edit.link12 %>
    </div>
  </div>
</div>
