<%= link_to t(".english"), locale: "en" %>
<%= link_to t(".vietnam"), locale: "vi" %>
<% provide :title, t(".all") %>
<h1> <%= t ".all" %> </h1>
<%= paginate @users %>
<ul class="users">
  <%= render @users %>
</ul>
<%= paginate @users %>
