<footer>
  <small>
    <%= t ".the" %> <%= link_to t(".ruby"), Settings.static_pages.about.link2 %>
    <%= t ".by" %> <%= link_to t(".name"), Settings.static_pages.about.link10 %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".titles"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li> <%= link_to t(".new"), Settings.static_pages.about.link11 %> </li>
    </ul>
  </nav>
</footer>
